.App {
  text-align: center;
  font-family: 'Quicksand', 'Helvetica', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainpage-container{
  text-align: center;
  margin-top: 10%;
}

.mode {
  margin: 5%;
  border: 2px solid transparent;
  padding: 2%;
}

.mode:hover {
  border: 2px solid black;
  border-radius: 32px;
}

.live-games-table {
  max-width: 420px;
  margin: 0 auto;
}

.options {
  margin-top: 2%;
  font-size: 1.8em;
}

.mainpage-container > h1{
  text-align: center;
  font-size: 4em;
}

.status_text_container {
  margin: 2% 0;
  width: 100%;
  text-align: center;
}

.status_text_container > div{
  font-size: 3em;
}

.status_text_container > button{
  font-size: 1.2em;
}

.grid-container {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-gap: calc(7%/2);
  background-color: rgb(0, 0, 0);
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  /* padding: 20px 0; */
  font-size: 30px;
}

.box {
  position: relative;
}

.box::before {
  display:flex;
  justify-content:center;
  align-items:center;
  content: ' ';
  display: block;
  width: 100%;
  padding-top: 100%;
}

.box > img{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 10%;
}

.player {
  position: absolute;
  bottom: 0;
  padding: 16px;
  font-size: 1.5em;
}

.player-win {
  background-color: rgb(66, 255, 66) !important; 
}

.player-lose {
  background-color: rgb(255, 180, 110) !important;
}

@media all and (orientation:portrait) {
  .grid-align {
    margin-top: 20vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .grid-box {
    height: 60vw;
    /* width: auto; */
    padding-left: 60vw;
    position: relative;
  }

  .player-one {
    left: 0;
    /* top: calc(70vw + 64px); */
    width: 45vw;
    margin-top: 5%;
    float: left;
    text-align: left;
  }

  .player-two {
    right: 0;
    /* top: calc(70vw + 64px); */
    width: 45vw;
    margin-top: 5%;
    float: right;
    text-align: right;
  }
}

@media all and (orientation:landscape) {
  .grid-align {
    margin-top: 10vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .grid-box {
    width: 30vw;
    padding-top: 30vw;
    position: relative;
  }

  .player-one {
    left: 0;
    top: 0;
    width: 28vw;
    float: left;
    text-align: left;
  }

  .player-two {
    right: 0;
    top: 0;
    width: 28vw;
    float: right;
    text-align: right;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
